<div class="container" style="margin-top: 30px">
 <div class="card">
  <div class="card-header bg-warning"><h2>New Supplier</h2></div>
    <div class="card-body">

        <%= render 'form', supplier: @supplier %>

        <%= link_to 'Back', suppliers_path, class: "btn btn-danger btn-block" %>
     
    </div>
   </div> 
  </div>
</div>